*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

header{
    background-color: white;
    height: 110px;
    padding: 1rem;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
}

nav{
    width: 80%;
    margin: 0rem auto;

}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color: black;
    
}

a{
    margin-left: 0px;
    display: inline-block;
}

.caracara{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 30px;
    letter-spacing: 239;
    font-weight: 600;

}

hr{
    margin-top: 2rem;
    height: 5px;
    border: solid;
    color: black
}

footer{
    background-color: #BF7631;
    height: 162px;
    padding: 1rem;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-between;
    
}

img{
    max-width: 100%;
}

.black-backdrop{
    background-color: black;
    color: white;
    width: 100%;
}

.center-images{
    display: flex;
    align-items: center;
}

.search{
    height: 27px;
    width: 292px;
}

.flex-center{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}