*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

header{
    background-color: white;
    height: 110px;
    padding: 1rem;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
}

hr{
    margin-top: 2rem;
    height: 5px;
    border: solid;
    color: black
}

footer{
    background-color: #BF7631;
    height: 162px;
    padding: 2rem;
}

h1{
    margin-left: 140px;
    font-size: 45px;
    color:black;
    font-weight: 400;
}

nav{
    margin-left: 12rem;
    margin-right: 12rem;

}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
}

header a:link,a:visited,a:hover,a:active {
    color: black;
}

a{
    margin-left: 0px;
    display: inline-block;
}

.text-container{
    margin-top: 75px;
}

.page-container-left{
    font-size: 20px;
    font-weight: 200;
    margin-top: 75px;
    margin-left: 202px;
    margin-right: 89.1px;
    width: 950px;
}

.hr-small{
    margin-left: 140px;
    width: 950px
}

.caracara{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 30px;
    letter-spacing: 7px;
    font-weight: 600;
    justify-content: space-around;

}

.contact-wrapper{
    font-size: 30px;
    font-weight: 300;
    display: flex;
    flex-flow: column;
    width: 1088px;
    margin-top: 55px;
    margin-left: 416px;
}

.email-box{
    font-size: inherit;
    width: 1088px;
    height: 54px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #BF7631;
    height: 39px;
    width: 170px;
}

.send-wrap{
    width: 130px;
    height: 39px;
    margin-top: 72px;
    margin-bottom: 114px;
    margin-left: 1374px;
}

.msg-box{
    font-size: inherit;
    width: 1088px;
    height: 205px;
}

.caracara-white{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 40px;
    letter-spacing: 7px;
    font-weight: 600;
    justify-content: space-around;

}
.image-text{
    color: white;
    font-size: 45px;
    width: 1920px;
    height: 633px;
}

.top-pad{
    padding-top: 105px;
    padding-left: 140px;
}

.bottom-pad{
    padding-top: 83px;
    padding-left: 1504px;
}

.footer-text{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 300;
}

.footer-center{
    width:55%;
    margin-left: 22.5%;
}

.flex-center{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    
}

img{
    max-width: 100%;
}

.black-backdrop{
    background-color: black;
    width: 1920px;
    height: 633px;
}

.center-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.faded-pic{
    margin-left: 275px;
    margin-right: 274px;
    width: 1371px;

}

.search{
    height: 27px;
    width: 292px;
}

.search-wrapper{
    border: 1px solid black;
    display: inline-block;
    
}


.grad{
    background-image:
    linear-gradient(to right,black, rgba(255, 255, 255, 0), black),
    url(./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:1370px;
    width: 1920px;
    height: 633px;
}